* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --white: #FFFFFF;
    --Orange: #F16718;
    --ligth-orange:#FF9B62;
    --dark:#162542;
    --gray:#7B8BAD;
    --ligth-gray:#E8EFF2;
}
body{
    font-family: 'Barlow', sans-serif;
    position: relative;
}
.content{
    max-width: 1200px;
    width: 95%;
    margin: 0 auto;
}
p{
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    text-align: left;
    color: var(--gray);
}
h1{
    font-size: 56px;
    font-weight: 900;
    line-height: 56px;
    text-align: left;
    color: var(--dark);
    margin-bottom: 24px;
}
h2{
    font-size: 32px;
    font-weight: 900;
    line-height: 36px;
    text-transform: uppercase;
    text-align: left;
    color: var(--dark);
    margin-bottom: 27px;
}
h3{
    font-size: 24px;
    font-weight: 900;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: left;
    color: var(--dark);
    margin: 46px 0 24px 0;
    width: 180px;
}

/* header */
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}
.type-keyboard{
    display: flex;
    gap: 120px;
    margin-top: 80px;
}
.keyboard{
    background: url(../img/desktop/image-keyboard.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
    width: 800px;
    height: 650px;
}
.describe-type-keyboard{
    padding-top: 70px;
}
.Premiere{
    display: flex;
    align-items: center;
    margin-top: 40px;
    gap: 40px;
}

/* mechanical wireless Keyboard */
.wireless{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 40px;
    margin-top: 45px ;
    margin-bottom: 130px;
}
.keyboard-orange{
    background: linear-gradient(rgba(241, 103, 24, .75),rgba(241, 103, 24, .75)), url(../img/desktop/image-phone-and-keyboard.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 554px;
    width: 300px;
    border-radius: 20px;
}
.keyboard-desk{
    background: url(../img/desktop/image-glass-and-keyboard.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 554px;
    width: 490px;
    border-radius: 20px;
}
.description-wireless{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 25px;
}

/* cards */
.cards-keyboard{
    display: flex;
    gap: 50px;
    margin-bottom: 130px;
}
.card p{
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;

}
.img-card{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--Orange);
    width: 65px;
    height: 65px;
    height: 65px;
    border-radius: 16px;
}
/* footer */
footer{
    margin-bottom: 40px;
} 
.cocopyright{
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
}
.cocopyright span{
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
}
/*img-pattern-square*/
.img-pattern-square{
    background: url(../img/shared/pattern-square.svg), no-repeat;
    position: absolute;
    width: 40px;
    height: 240px;
    top: 130px;
    right: 0;
}
.img-pattern-square2{
    background: url(../img/shared/pattern-square.svg), no-repeat;
    position: absolute;
    width: 255px;
    height: 240px;
    top: 1150px;
    left: -215px;
}
/* button-style */
button{
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
    border-radius: 8px;
    border: none;
    padding: 16px 26px;
    text-transform: uppercase;
    cursor: pointer;
}
.btn-gray{
    background-color: var(--ligth-gray);
}
.btn-orange{
    background-color: var(--Orange);
    color: var(--white);
}


@media screen and (max-width: 1115px) {
    h1{
        font-size: 48px;
    }
    p{
        font-size: 16px;
    }
    .content2{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    /* header */
    .type-keyboard{
        gap: 110px;
    }
    .keyboard{
        background: url(../img/tablet/image-keyboard.jpg), cover, no-repeat;
        width: 450px;
        height: 600px;
    }
    /* mechanical wireless Keyboard */
    .wireless{
        grid-template-columns: repeat(2,1fr);
        gap: 40px;
        margin-left: 5%;
    }
    .keyboard-orange{
        background: linear-gradient(rgba(241, 103, 24, .75),rgba(241, 103, 24, .75)), url(../img/tablet/image-phone-and-keyboard.jpg), cover, no-repeat;
        height: 554px;
        width: 300px;
        grid-column: 1/2;
        grid-row: 1/2;
    }
    .keyboard-desk{
        background: url(../img/tablet/image-glass-and-keyboard.jpg), cover, no-repeat;
        height: 554px;
        width: 480px;
        grid-column: 2/3;
        grid-row: 1/2;
    }
    .description-wireless{
        display: flex;
        flex-direction: row;
        gap: 90px;
        padding-left: 25px;
        grid-column: 1/3;
        grid-row: 2/3;
    }
    /* card */
    .cards-keyboard{
        display: grid;
        grid-template-columns:300px 300px;
    }

    /* img-pattern */
    .img-pattern-square{
        background: unset;
    }
    .img-pattern-square2{
        background: none;
    }
}

@media screen and (max-width: 885px) {
    
    /* header */
    
    .type-keyboard{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 40px;
        margin-top: 10px;
    }
    .keyboard{
        background: url(../img/tablet/image-keyboard.jpg), cover, no-repeat;
        width: 100%;
        height: 530px;
    }
    /* mechanical wireless Keyboard */
    .wireless{
        grid-template-columns: repeat(2,1fr);
        gap: 10px;
        margin-left: 5%;
        margin-bottom: 50px;
    }
    .keyboard-orange{
        background: linear-gradient(rgba(241, 103, 24, .75),rgba(241, 103, 24, .75)), url(../img/mobile/image-phone-and-keyboard.jpg), cover, no-repeat;
        background-position: center center;
        height: 430px;
        width: 100%;
        grid-column: 1/2;
        grid-row: 1/2;
    }
    .keyboard-desk{
        background: url(../img/mobile/image-glass-and-keyboard.jpg), cover, no-repeat;
        background-position: center center;
        height: 430px;
        width: 100%;
        grid-column: 2/3;
        grid-row: 1/2;
    }
    .description-wireless{
        display: flex;
        flex-direction: column;
        margin-top: 40px;
        gap: 0;
        padding-left: 0;
        grid-column: 1/3;
        grid-row: 2/3;
    }
    /* card */
    .cards-keyboard{
        display: grid;
        grid-template-columns:300px ;
        text-align:center ;
    }
    .card{
        display: flex;
        flex-direction: column;
       justify-content:center ; 
       align-items: center;
     gap: -20px; 
    }
}